[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
keras = "*"
pillow = "!=5.1.0"
flask = "*"
requests = "*"

[dev-packages]
ptpython = "*"

[requires]
python_version = "3.6"
